*~
*.swp
*.gem
*.rbc
.bundle
.config
.yardoc
*.bak
*.log
*.tar.bz2
*.tar.gz
*.zip
.settings
.svn
.project
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
nohub.out
